<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="CustomerPortalExtensions" type="CustomerPortalExtensions.Config.CustomerPortalSection" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=.\SQLEXPRESS;database=umbraco-fsc;user id=umbracouser;password=star1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NDataAccessSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://care.local/CareServices/NDataAccess.asmx" binding="basicHttpBinding" bindingConfiguration="NDataAccessSoap" contract="CareWebServices.NDataAccessSoap" name="NDataAccessSoap" />
    </client>
  </system.serviceModel>
  <CustomerPortalExtensions defaultNumberFormat="£#,##0.00" numberOfOrders="2" discountHandlerOrder1="Default" discountHandlerOrder2="Qty" shippingHandlerOrder1="Default" shippingHandlerOrder2="QtyAndLocation" emailNewsletterAPIKey="4e948d1c8fec9e1ce06bff93151e9cb2-us4" emailNewsletterListID="aa412643ce">
    <productTypes>
      <add name="Membership" docType="FSCMembership" externalIdProperty="price" productType="M" />
      <add name="Course" docType="FSCIndividualsAndFamiliesCourse" optionDocType="FSCIndividualsAndFamiliesCourseBookingOption" productType="C" />
      <add name="Publication" docType="FSCPublicationsPage" productType="P" />
      <add name="FamilyCourse" docType="FAMCourse" productType="C" bespokePricingHandler="FamilyBespokePricingHandler" />

    </productTypes>
  </CustomerPortalExtensions>
</configuration>